<section id="socialmedia">
        <ul class="list-unstyled d-flex justify-content-between flex-wrap">
            <li class="text-lg-center mb-2">&nbsp;</li>
            <li class="text-lg-center mb-2">
                <a href="https://steamcommunity.com/groups/100Pals">
                    <i class="fab fa-fw fa-3x fa-steam"></i>
                    <div>Steam</div>
                </a>
            </li>
            <li class="text-lg-center mb-2">
                <a href="https://twitch.tv/100Pals">
                    <i class="fab fa-fw fa-3x fa-twitch"></i>
                    <div>Twitch</div>
                </a>
            </li>
            <li class="text-lg-center mb-2">
                <a href="https://twitter.com/100PalsOfficial">
                    <i class="fab fa-fw fa-3x fa-twitter"></i>
                    <div>Twitter</div>
                </a>
            </li>
            <li class="text-lg-center mb-2">
                <a href="https://www.facebook.com/100Pals">
                    <i class="fab fa-fw fa-3x fa-facebook"></i>
                    <div>Facebook</div>
                </a>
            </li>
            <li class="text-lg-center mb-2">
                <a href="https://www.youtube.com/channel/UC_7lLgacLSGHmWgTFgtVsxg">
                    <i class="fab fa-fw fa-3x fa-youtube"></i>
                    <div>YouTube</div>
                </a>
            </li>
            <li class="text-lg-center mb-2">
                <a href="https://www.reddit.com/r/100Pals">
                    <i class="fab fa-fw fa-3x fa-reddit"></i>
                    <div>Reddit</div>
                </a>
            </li>
            <li class="text-lg-center mb-2">&nbsp;</li>
        </ul>
    </section>