body.staff table.staff {
    padding: 1em;
}

body.staff td.name {
    width: 128px;
    font-weight: bold;
}

body.staff td.links {
    float: right;
}

body.staff td.headshot {
    width: 128px;
    vertical-align: top;
    padding-top: 6px;
}

body.staff td.description {
    padding-left: 1em;
}

body.staff table.verifier {
    width: 100%;
    white-space: nowrap;
}