<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{% if page.url == "/"%}index{% else %}{{page.url | replace: '/', ''}}{% endif%}">
    {% include menu.html %}
    <div class="global">
      <header class="hero">
        <h1>Global Achievement Hunting Community</h1>
      </header>
      <main>
        <h1>Achievement Hunting Servers</h1>
        {% for server in site.data.servers %}
        <section class="server">
          <img src="{{ server.img }}">
          <h2 class="name">{{ server.name }}</h2>
          <p class="server">{{ server.server }} <img class="flag" src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/1x1/{{ server.countrycode }}.svg"></p>
          <p class="status status-{{ server.status }}">{{ server.status }}</p>
          <div class="settings">
              <h3>Settings</h3>
              <dl class="settings">{% for setting in server.settings %}
                <dt>{{setting.key}}</dt>
                <dd>{{setting.value}}</dd>
              {% endfor %}</dl>
          </div>
        </section>
        {% endfor %}
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
