a,
a:visited {
  color: #872fff;
}

.links {
  padding: 2.5em;
}

.links a {
  padding: 0.75em;
}

.links a:focus,
.links a:hover {
  filter: invert(0.5) sepia(1) hue-rotate(305deg) saturate(10);
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background-color: #030303;
  }

  .links a {
    filter: invert(1);
  }
}
